img{
	width: 100px;
	height: 100px;
	margin: auto 20px;
}
nav{
	float:right;
	
}
ul{
	list-style: none;
	width: 500px;
	text-align: center;
}
li{
	display: inline-block;
	width: 60px;
	padding: 8px 12px;
	text-align: center;

}
li a{
	text-decoration:none;
	font-size: 24px;
	font-weight: bold;
	color:#242424;
}
li a:hover{
	color:gray;
}

section{ 
	display: inline-block;
	margin: 200px 30px;
	border: 2px solid;
	border-radius: 10px;
	width: 18%;
	height: 50%;
	position: relative;
	padding: 5px;


}
div.circle{

	width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #242424;
    position: absolute;/*relativno pozicioniran u odnosu na section,kao roditelja*/
    top: -30px;
    left: 110px;


}